<% @page_title = "Gloss - Customer login/logout" %>
<section class="left" id="login">
  <h1>Login</h1>
    <%= render :partial => "form"  %>
  <p>Not a user? <strong><a href="#" class="register">Register</a></strong><span class="go_arrow"> &gt; </span></p>
  <p><strong><a href="#">Forgot password ?</a></strong></p>
</section><!--End #login-->
