<p>Dear <%= @order.first_name %> <%= @order.last_name %> </p>

<p>Thank you for you recent order from the Gloss Online Store. </p>

<p>For future reference your <strong>invoice number is: <%= @order.id %></strong> </p>

