<div id="breadcrumbs">
  <ul>
    <li><a href="#">Home &gt;&gt;</a></li>
    <li><a href="#">About Us</a></li>

  </ul>
</div><!--end breadcrumbs-->
<section id="two-col" class="left">
  <header><h1 class="aboutUs">About Us</h1></header>
  <article>

    <p><span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat ante, ornare ut sollicitudin ut, scelerisque sed neque. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor. </span></p>

    <h2>Our History</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat ante, ornare ut sollicitudin ut, scelerisque sed neque. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor. Nulla velit eros, bibendum id molestie ac, pretium non arcu. Maecenas tempus ligula a dolor commodo sollicitudin. Maecenas sed ipsum justo. Morbi sagittis tincidunt interdum. Fusce dignissim tincidunt diam, eu adipiscing elit blandit tincidunt. </p>

    <h2>Why We Are Different</h2>
    <p>Mauris commodo fringilla purus, at condimentum magna dignissim quis. Sed augue nisi, ornare non laoreet non, euismod non massa. In at ultricies mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Cura. Donec venenatis faucibus molestie. Nunc ac nunc nec tortor congue viverra. Ut sed nulla elementum felis malesuada egestas et a velit. Nulla cursus aliquet urna eu elementum. </p>
  </article>

  <h2 class="cat_title">Contact</h2>
  <div class="left twoAcross">

    <h3>Headquarters</h3>
    <%= image_tag "headQuarters.jpg", :width => "299", :height => "181", :alt =>" " %>
    <div class="a_content">
      <p>Sit amet, consectetur adipiscing elit. Integer</p>
    </div><!--a_content-->

  </div><!-- end left -->
  <div class="right twoAcross">
    <h3>Where we are</h3>

    <%= image_tag "map.jpg", :width => "299", :height => "181", :alt =>" " %>
    <div class="a_content">
      <p>111 Lorem Ipsu Ave - 01234 Seattle, WA -  USA</p>
    </div><!--a_content-->

  </div><!-- end right -->
</section><!--end two-col -->
<aside class="right">
  <section class="testimonials">
    <header><h1>Testimonials</h1></header>
    <blockquote>Etiam erat ante, ornare ut sollicitudin ut, scelerisque sed neque. Proin commodo tempus risus id adipiscing. Curabitur a tortor erat. Nam at erat neque. Maecenas tristique convallis enim eu porttitor.<span class="highlight"> (John Doe, Minneapolis)</span></blockquote>

    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod. <span class="highlight"> (John Doe, Minneapolis)</span>
    </blockquote>

    <blockquote>Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor. <span class="highlight"> (John Doe, Minneapolis)</span></blockquote>
  </section>
  <section class="twitter">
    <header><h1>Twitter</h1></header>
    <p>Lorem ipsum @dolorsitamet, consectetur adipiscing elit. Phasellus sem erat, tincidunt eget imperdiet ac, imperdiet quis lacus. <span class="highlight">13 hours ago via: Web</span></p>
  </section>
  <section id="contactInfo">
    <h1 class="customerCare">Contact Info</h1>

    <h2>Customer Care</h2>
    <p>John Doe - Chief of Customer Care and Client Relations</p>
    <p>T. (111) 111-22333 -F. (111) 111-22333 </p>
    <p><span class="highlight">info@cardboardshop.com</span></p>

    <h2>Site Management</h2>
    <p>John Doe - Web Management</p>
    <p><span class="highlight">info@cardboardshop.com</span></p>

    <h2>Shipping Info</h2>
    <p>John Doe - Shipping & Delivery Project Manager</p>
    <p><span class="highlight">info@cardboardshop.com</span></p>


  </section>
</aside>
