<h1 id="contact">Contact Gloss</h1>
<div id="contactGloss">
<p>Got a question about gloss</p>
<p>Want to give us some feedback</p>
<p>We would love to hear from you</p>
 </div>

<div class="left" id="width">

</div>

<div id="expandedText" class="right">
  <p><strong>4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor?</strong></p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et orci id purus scelerisque placerat a non magna. Nam mi libero, aliquam eu tempus non, volutpat a libero. Vestibulum vitae porttitor sem. </p>

  <p>Curabitur quis mi diam, ut malesuada lacus. Cras fermentum lacinia est tristique luctus. Ut eget mauris at justo gravida elementum. Sed nulla leo, porttitor quis consequat quis, adipiscing et nulla. </p>

  <p>Nulla venenatis egestas dolor vel molestie. Vestibulum ullamcorper, urna id tempus fringilla, metus neque tincidunt arcu, eget elementum lacus nibh id arcu. Nunc eu felis sem. </p>

  <p>Curabitur quis mi diam, ut malesuada lacus. Cras fermentum lacinia est tristique luctus. Ut eget mauris at justo gravida elementum</p>
</div>