<div id="breadcrumbs">
  <ul>
    <li><a href="#">Home &gt;&gt;</a></li>
    <li><a href="#">About Us</a></li>

  </ul>
</div><!--end breadcrumbs-->
<section class="help">
  <header><h1>Help</h1></header>
  <p><span class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et orci id purus scelerisque placerat a non magna. Got questions? Read if your doubt has already been solved or</span><a href="mailto:lowrygerard@eircom.net">Contact Us</a><span class="call">Call Us&Iacute; 086 2295735 </span>  </p>

  <dl class="left">
    <dt>General</dt>

    <dd>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor?</dd>

    <dd>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod?
    </dd>
    <dt>Shipping</dt>

    <dd>3. Consectetur adipiscing elit. Vestibulum vitae felis eget lacus euismod. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor?</dd>

    <dd><span class="active">4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor?</span></dd>

    <dt>Payment</dt>

    <dd>5. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod?</dd>
  </dl>
  <div id="expandedText" class="right">
    <p><strong>4. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vestibulum vitae felis eget lacus euismod. Vestibulum vitae felis eget lacus euismod elementum ac vitae dolor?</strong></p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et orci id purus scelerisque placerat a non magna. Nam mi libero, aliquam eu tempus non, volutpat a libero. Vestibulum vitae porttitor sem. </p>

    <p>Curabitur quis mi diam, ut malesuada lacus. Cras fermentum lacinia est tristique luctus. Ut eget mauris at justo gravida elementum. Sed nulla leo, porttitor quis consequat quis, adipiscing et nulla. </p>

    <p>Nulla venenatis egestas dolor vel molestie. Vestibulum ullamcorper, urna id tempus fringilla, metus neque tincidunt arcu, eget elementum lacus nibh id arcu. Nunc eu felis sem. </p>

    <p>Curabitur quis mi diam, ut malesuada lacus. Cras fermentum lacinia est tristique luctus. Ut eget mauris at justo gravida elementum</p>
  </div>
</section>
