<% @page_title = "Gloss - A shopping Experience" %>
<div class="clearBoth" id="slider">
  <%= image_tag "slider_holder.jpg", :height => '310', :width => '941', :alt => " " %>
</div><!--End #slider-->

<!--FEATURED LIST-->
<section class="productList featurList">
  <%= render :partial => "shared/featured" %>
</section>

<!--End FEATURED LIST-->

<!--START SPECIALS-->
<section class="productList">
 <%= render :partial => "shared/specials" %>
</section>
<!--End Special Offers Section-->


