<h3><strong></strong> To process your order we are going to need you to confirm your details</h3>
    <p>If the address you would like your order shipped too differs from your account details, please update.</p>
<div id="orderDetails">
  <fieldset>
    <legend>Please Enter your Details</legend>
    <%= render 'form' %>
  </fieldset>
</div>