<div id="content">
  <div id="breadcrumbs">
    <ul>
      <li><a href="#">Home &gt;&gt;</a></li>
      <li><a href="#">Shopping Cart</a></li>

    </ul>
  </div><!--end breadcrumbs-->

  <section class="cartList">
    <header>
      <h1>Shopping Cart</h1>
    </header>
    <div id="backToList">
      <a href="#" title="Continue Shopping">Continue Shopping</a>
    </div><!--end backToList-->
    <div>Total Price: <%= number_to_currency(@cart.total_price, :unit => '&euro;') %></div>

    <%= render(@cart.line_items) %>

    <%= button_to 'Empty cart', @cart, :method => :delete, :confirm => 'Are you sure?' %>
  </section><!-- end cartList -->
</div><!--end content -->