 <form action="#" method="get" name="search" id="search">
          <input name="search" type="text" id="search_input" placeholder="search">
          <input name="searchSite" type="submit" id="searchSite" value="go">
 </form>